@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");

/* Universal Style setup */

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

/* Backlayer Styling */

.bg-layer {
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh !important;
}

/* Navbar Styling */

.navbar-item {
  color: hsla(119, 3%, 25%, 0.75);
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
}

.navbar-item:hover {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../assets/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-btn {
  padding: 2px;
  border: none;
}

#navbarToggler ul {
  margin-left: 45%;
  margin-right: 5%;
}

/* Loading page styling */

#left-slider {
  position: absolute;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: rgba(255, 92, 0, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#right-slider {
  position: absolute;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  background-color: rgba(36, 255, 0, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#brand-name {
  color: hsla(119, 9%, 9%, 1);
  font-family: "Fugaz One", sans-serif;
  font-size: clamp(1rem, 10vw, 2rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.84px;
}

#left-intro-text {
  color: rgb(255, 255, 255);
  text-align: right;
  font-family: Fugaz One, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 8px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: hsla(0, 0%, 0%, 1);
}

#left-sub-text {
  color: #fff;
  text-align: right;
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.84px;
}

#right-menu-list {
  list-style-type: none;
}

#right-menu-list li {
  color: #000;
  font-family: Fredoka, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.84px;
  margin-bottom: 2rem;
}

#right-menu-title {
  margin-top: 9rem;
  color: #000;
  font-family: Fugaz One, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.68px;
}

#homepage-burger {
  width: fit-content;
  height: fit-content;
}

#btn-order-now {
  color: hsla(119, 3%, 25%, 1);
  text-align: center;
  font-family: Fugaz One, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.84px;
  background-color: hsla(119, 3%, 25%, 0.2);
}

/* Positioning the Place Order Container */

.place-order-container {
  position: absolute;
  top: 5rem;
  left: 0;
}

/* Styling the category header */

.place-order-category-header {
  border-radius: 32px;
  border: 2px solid rgba(0, 0, 0, 0.73);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
}

.place-order-category-header::-webkit-scrollbar {
  display: none;
}

/* Styling category item container */

#category-item-container {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 1010px;
  margin: 0.2rem;
  border-radius: 32px;
}

#category-item-container div {
  align-self: flex-end;
  position: relative;
  border-radius: 32px;
  background: #450743;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}

#category-item-container div p {
  color: #ff6828;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.88px;
  padding: 0.5rem;
  margin: 0;
}

#category-item-container div p:hover {
  cursor: pointer;
}

/* Styling the item card container */

#item-card-container {
  max-height: 60vh;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: space-around;
  scrollbar-width: none;
  min-height: 500px;
  border-radius: 15px;
  scrollbar-width: none;
}

#item-card-container::-webkit-scrollbar{
  display: none;
}

#item-container {
  border-radius: 32px;
  border: 2px solid rgba(0, 0, 0, 0.73);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  margin-top: 2rem;
}

#item-searchbar-container {
  padding-right: 10px;
}

#txt-item-search {
  margin: 10px 0 0 10px;
  border-radius: 32px 0 0 32px;
  border: 2px solid rgba(0, 0, 0, 0.73);
  border-right: none;
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(20px);
  height: 3rem;
}

#icon-search {
  margin: 10px 0 0 0;
  border-radius: 0 32px 32px 0;
  border: 2px solid rgba(0, 0, 0, 0.73);
  border-left: none;
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(20px);
  height: 3rem;
}

.item-card {
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.35);
  text-align: center;
  width: 13rem;
}

.item-card div p {
  margin-bottom: 0.25rem;
}

#btn-item-add {
  background-image: url(../assets/icons/add.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1%;
  right: 1%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#btn-item-add:hover {
  background-color: #ff6828;
}

#item-code-container {
  position: absolute;
  top: 50%;
  right: 0%;
  width: 3rem;
  height: 1rem;
}

#item-code {
  font-size: 10px;
  font-weight: 700;
}

/* Styling the cart section */

#cart-toggler {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2rem 0 0 2rem;
  z-index: 5;
  width: 2rem;
  height: 54.8px;
  padding: 0 !important;
}

#cart-toggler img {
  scale: 0.5;
}

#responsive-cart {
  border-radius: 32px;
  border: 2px solid rgba(0, 0, 0, 0.73);
  background: rgba(255, 255, 255, 0.29) url(../assets/images/background.png);
  backdrop-filter: blur(20px);
  height: 100%;
}

#cart-header {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(30, 13, 13, 0.62);
  backdrop-filter: blur(20px);
}

#cart-header h4 {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
}

#cart-header h4 div {
  background-color: #ff6828;
  border-radius: 50%;
}

#cart-item-container {
  width: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: 1rem;
}

#cart-item-container::-webkit-scrollbar {
  display: none;
}

#cart-item {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.75);
  padding: 5px 5px;
  margin: 0 10px;
}

#cart-item-name {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
}

#cart-item-price,
#cart-item-qty {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
}

#btn-minus {
  background-image: url(../assets/icons/minusbtn.svg);
  background-size: cover;
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

#btn-plus {
  background-image: url(../assets/icons/plusbtn.svg);
  background-size: cover;
  border: none;
  width: 18px;
  height: 18px;
  margin-left: 0.5rem;
}

#btn-item-delete {
  top: 5%;
  left: 90%;
  background-color: red;
  /* opacity: 0.8 !important; */
}

#cart-coupon {
  background: rgba(255, 255, 255, 0.75);
}

#cart-billing {
  border-radius: 16px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  height: 55%;
}

#bill-details div p {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
  margin: 0%;
}

/* Register Form Model Styling */

#registerModel,
#loginModel {
  z-index: 1055 !important;
  scrollbar-width: none;
}

#registerModel,
#loginModel::-webkit-scrollbar {
  display: none;
  z-index: -1;
}

#register-form-model,
#login-form-model {
  background-image: url(../assets/images/login_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#register-form {
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.52);
  background: rgba(255, 255, 255, 0.43);
  backdrop-filter: blur(20px);
  max-width: 500px;
  height: 600px;
  flex-shrink: 0;
}

#register-form div p {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#register-form h2 {
  color: #000;
  font-family: Fredoka, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.84px;
  text-align: center;
}

#btn-register-form {
  background-color: hsla(18, 100%, 58%, 1);
  border: none;
  width: 5rem;
}

#btn-clear-form {
  background-color: hsla(137, 100%, 46%, 1);
  border: none;
  width: 5rem;
}

/* Login From Model Styling */

#login-form {
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.52);
  background: rgba(255, 255, 255, 0.43);
  backdrop-filter: blur(20px);
  max-width: 500px;
  height: 400px;
  flex-shrink: 0;
}

/* Customer Profile Section */

#order-container {
  border-radius: 32px;
  border: 2px solid rgba(0, 0, 0, 0.73);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  margin-top: 2rem;
}

#order-search {
  margin: 10px 0 0 10px;
  border-radius: 32px 0 0 32px;
  border: 2px solid rgba(0, 0, 0, 0.73);
  border-right: none;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  height: 2rem;
  margin: 5px 0 5px 5px !important;
}

#order-search-icon {
  margin: 10px 0 0 0;
  border-radius: 0 32px 32px 0;
  border: 2px solid rgba(0, 0, 0, 0.73);
  border-left: none;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  height: 2rem;
  margin: 5px 5px 5px 0 !important;
}

.order-container-title{
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.92px;
  margin: 5px !important;
}

#profile-toggler {
  position: absolute;
  top: 80px;
  right: 0;
  border-radius: 2rem 0 0 2rem;
  z-index: 5;
  width: 2rem;
  height: 54.8px;
  padding: 0 !important;
}

#profile-toggler img {
  scale: 0.5;
  margin-right: 10  0%;
}


#responsive-profile {
  border-radius: 32px;
  border: 2px solid rgba(0, 0, 0, 0.73);
  background: rgba(255, 255, 255, 0.29) url(../assets/images/background.png);
  backdrop-filter: blur(20px);
  height: 100%;
}